<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="image/calculator-fav.png" sizes="16x16" type="image/png">

    <title>Welcome</title>
  <link href="/calculator.css" rel="stylesheet"/>
<%-include("partials/header")-%>
<h1><%=useremail%></h1>
<a class="btn btn-light btn-lg" href="/Logout" role="button">Log Out</a>
<%- include("partials/footer")-%>