<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="image/calculator-fav.png" sizes="16x16" type="image/png">

    <title>Welcome</title>
   
  <link href="/calculator.css" rel="stylesheet"/>
<%-include("partials/header")-%>

      <h1>Welcome <%=useremail%>!!!</h1>
     
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="/Blog" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

<a class="btn btn-light btn-lg" id="logout" href="/Logout" role="button">Log Out</a>
<%- include("partials/footer")-%>